.button{
  background-color: $nickel;
  color: $white !important;
  border-radius: 50px;
  font-size: $medium;
  font-weight: $regular-wght;
  height: 51px;

  &:hover{
    background-color:$light-gray ;
  }

  &:focus{
    background-color: $nickel;
    border: 2px solid $light-gray   ;
  }

}

.button__small{
  width: 115px;
}

.button__medium{
  width: 182px;
}