.button{
  background-color: $nickel;
  color: $white !important;
  border-radius: 50px;
  font-size: $medium;
  font-weight: $regular-wght;
  height: 51px;
  transition: 0.5s;
  margin: 0 8px;

  &:hover{
    background-color:$light-gray ;
  }

  &:focus{
    background-color: $nickel;
    border: 3px solid $light-gray;
    outline: none !important;
    box-shadow: none;

  }

  &:active {
    background-color: $ruddy-pink;
  }

}

.button__small{
  width: 115px;
}

.button__medium{
  width: 182px;
}